<div class="container">
    <footer class="py-5">
        <div class="row">
            <div class="col-2">
                <h5>Додоооо-пицца</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">О нас</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Додо-книга</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Блог "Сила ума"</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Работа</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">В пиццерии</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Партнерам</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Франшиза</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Инвестици</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Поставщикам</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h5>Остались вопросы?</h5>
                    <p>Напишите нам!</p>
                    <div class="d-flex flex-column w-100 gap-2">
                        <input id="newsletter1" type="text" class="form-control" placeholder="Ваша почта">
                        <input id="newsletter2" type="text" class="form-control" placeholder="Вопрос...">
                        <button class="btn btn-primary" type="button">Отправить</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p>© 2025 Dodoooo. All rights reserved.</p>
        </div>
    </footer>
</div>